.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/artifacts/FoodPlaner_war.xml
.idea/artifacts/FoodPlaner_war_exploded.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
